<%= form_for(@usergame,  remote:true) do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
<!--   <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :score %><br>
    <%= f.text_field :score %>
  </div>
  <div class="field">
    <%= f.label :rank %><br>
    <%= f.text_field :rank %>
  </div>
  <div class="field">
    <%= f.label :ft %><br>
    <%= f.text_area :ft %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div> -->
<% end %>
